<div class="config-help-button">
    <sw-container
            columns="2fr 1fr"
            gap="16px"
    >
        <div class="sw-grid-column--center">
            <mt-button class="btn-action" link="https://diztech.freshdesk.com/support/solutions/103000257426">
                <mt-icon name="regular-exclamation-circle"></mt-icon>

                {{ $tc('zeo-abandoned-cart.knowledgeBasePluginConfig.buttonLabel') }}
            </mt-button>
        </div>
    </sw-container>
</div>